{% extends "layout.html" %}

{% block title %}Prolific ID{% endblock %}

{% block scripts %}
<script type="text/javascript">
    function enableSubmitButton() {
        const input = document.getElementById("workerID");
        const submitBtn = document.getElementById("submit-prolific");

        submitBtn.disabled = input.value.trim() === "";
    }

    function submitProlificID() {
        const input = document.getElementById("workerID").value.trim();
        if (input !== "") {
            document.getElementById("begin-button").disabled = false;
            document.getElementById("workerID").readOnly = true;
            document.getElementById("submit-prolific").disabled = true;
        }
    }

    function openwindow() {
        const workerId = document.getElementById("workerID").value;
        popup = window.open(
            '{{ server_location }}/consent?recruiter={{ recruiter }}&hit_id={{ hitid }}&assignment_id={{ assignmentid }}&worker_id=' + workerId + '&workerId=' + workerId,
            'Popup',
            'toolbar=no,location=no,status=no,menubar=no,scrollbars=yes,resizable=no,width=1024,height=768'
        );
    }
</script>
{% endblock %}

{% block container %}
    <h1 class="text-center">Prolific ID</h1>
    <p class="text-center">Before proceeding, please enter your Prolific ID.</p>

    <form class="text-center">
        <input type="text" id="workerID" name="workerID" oninput="enableSubmitButton()" placeholder="Enter your Prolific ID">
        <br><br>
        <button type="button" id="submit-prolific" class="button" onclick="submitProlificID()" disabled>
            Submit Prolific ID
        </button>
    </form>

    <div style="height: 200px;"></div>

    <div class="text-center">
        <button type="button" id="begin-button" class="button btn-primary" onClick="openwindow();" disabled>
            Begin Experiment
        </button>
    </div>
{% endblock %}
