{% extends "layout.html" %}

{% block scripts %}
  <script src="/static/scripts/dist/questionnaire.js" type="text/javascript"></script>
  <script type="text/javascript">
    function check_answers() {
      var engagement = document.getElementById("engagement").value;
      var difficulty = document.getElementById("difficulty").value;
      var fun_required = {{ 'true' if experiment.config.fun_survey else 'false' }};
      var fun = fun_required ? document.getElementById("fun").value : "1";

      if (engagement !== "0" && difficulty !== "0" && fun !== "0") {
        $('#submit-questionnaire').prop('disabled', false);
        return true;
      }
      $('#submit-questionnaire').prop('disabled', true);
      return false;
    }
  </script>
{% endblock %}

{% block container %}
<h1>Finished.</h1>
<hr>
<p>Thanks for contributing to our research. You will be eligible for full payment once you answer the following questions:</p>

<form>
    <div class="row question">
        <div class="column column-75">
            <p>On a scale of 1–7 (where 7 is the most engaged), please rate how <b>ENGAGED</b> you were while performing the task:</p>
        </div>
        <div class="column column-25">
            <select id="engagement" name="engagement" onChange="check_answers()">
                <option value="0"></option>
                <option value="7">7</option>
                <option value="6">6</option>
                <option value="5">5</option>
                <option value="4">4</option>
                <option value="3">3</option>
                <option value="2">2</option>
                <option value="1">1</option>
            </select>
        </div>
    </div>

    <div class="row question">
        <div class="column column-75">
            <p>On a scale of 1–7 (where 7 is the most difficult), please rate how <b>DIFFICULT</b> you found the learning task:</p>
        </div>
        <div class="column column-25">
            <select id="difficulty" name="difficulty" onChange="check_answers()">
                <option value="0"></option>
                <option value="7">7</option>
                <option value="6">6</option>
                <option value="5">5</option>
                <option value="4">4</option>
                <option value="3">3</option>
                <option value="2">2</option>
                <option value="1">1</option>
            </select>
        </div>
    </div>

    {% if experiment.config.fun_survey %}
    <div class="row question">
        <div class="column column-75">
            <p>On a scale of 1–7 (where 7 is the most fun), please rate how <b>FUN</b> you found the task:</p>
        </div>
        <div class="column column-25">
            <select id="fun" name="fun" onChange="check_answers()">
                <option value="0"></option>
                <option value="7">7</option>
                <option value="6">6</option>
                <option value="5">5</option>
                <option value="4">4</option>
                <option value="3">3</option>
                <option value="2">2</option>
                <option value="1">1</option>
            </select>
        </div>
    </div>
    {% endif %}
</form>

<hr>
<div>
    <button id="submit-questionnaire" type="button" disabled="true" class="button">
        Continue
    </button>
</div>
{% endblock %}
